####################################################################
# WhiteSource Docker Agent Configuration File
####################################################################
checkPolicies=false
offline=false

##################################
# Organization tokens
##################################
apiKey=$APIKEY

productName=OS Projects

##################################
# Docker settings
##################################
docker.url=http://127.0.0.1:2375
